# Entorno virtual
venv/
.venv/

# Archivos de Python compilados
__pycache__/
*.pyc

# Datasets y audios
dataset/
dataset_*/
dataset*/
ruido/
*.wav
*.mp3
*.flac
*.m4a

# Archivos temporales
.DS_Store
Thumbs.db